
    code {
      font-family: Consolas,"courier new";
      color: crimson;
      background-color: #f1f1f1;
      padding: 2px;
      font-size: 105%;
    }
    center{
        text-align: 10in;
        font-size: 1in;
          }
    p{
      text-align: center;
    }
